@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

$family: "Montserrst","Helvetica", sans-serif;
$bold: 400;
$bolder: 700;
$normal: 300; 

*{
  box-sizing: border-box;
  font-family: $family;
  font-weight: $normal;
}